html, body{
    width: 100%;
    height: 100%;
}

/* Root font sizes */
html {
    font-size: 14px;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.1rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.2rem;
    }
}